section.citizen
	img(src="img/citizen.jpg", alt="")
	.block__absolute__right
		.citizen__header.text__center
			article
			.bold__red
				|	Для граждан
			p.text__center
				|	Таджикистана, Узбекистана,
				br
				|	Кыргызстана, Российской Федерации
			.summ
				|	35 000
				span.text__bold р
			br
			.btn.btn__red.btn__center Подключить