section.how-to
	.content
		h2 Как получить займ?
		section.steps
			article.step
				.step__after
				.step__before
				.step__number 1
				.step__header Оформите заявку
				br
				.step__description 
					|	по телефону 8 (800) 550-57-57
					br
					|	или на сайте www.baibol.ru
			article.step
				.step__after
				.step__before
				.step__number 2
				.step__header Посетите наш офис
				br
				.step__description 
					|	возьмите с собой паспорт
					br
					|	и другие разрешительные документы
			article.step
				.step__after
				.step__before
				.step__number 3
				.step__header Дождитесь решения
				br
				.step__description 
					|	срок рассмотрения заявки - 
					br
					|	от 20 минут
			article.step
				.step__number 4
				.step__header Получите деньги
				br
				.step__description 
					|	на выгодных условиях -
					br
					|	быстро и без залога! 
		.btn.btn__red.btn__center Получить