section#section-2.loan
	.content
		h2.text__red Индивидуальные займы
		.package
			.package--about
				.package--about__header
					|	Кредитный пакет 
					span.text__red «Паритет»
				p 
					|1 человек (индивидуальный заём)
					br
					|	для граждан РФ, Таджикистана, Узбекистана, Кыргызстана.
				p
					|	Новые клиенты могут получить заём на сумму от 15000 до 35000 рублей
					br
					|	Повторные клиенты могут получить до 50000 рублей (с шагом 5000 рублей)
					br
					|	Срок займа: от 3 до 12 месяцев Дата первого погашения должна быть
					br
					|	сроком не ранее 20 и не позже 40 дней от даты выдачи. 
			.package--info
				section.package--info__section
					article
						.circle 7.9%
						| ставка
					article
						.circle 35 000
						| сумма
					article
						.circle 12 мес
						| погашение
				.btn__red Оформить
section#section-3.loan.loan__red
	.content
		h2.text__white Групповые займы
		.package
			.package--about
				.package--about__header.text__white
					|	Кредитный пакет «Паритет»
				p.text__white
					|1 человек (индивидуальный заём)
					br
					|	для граждан РФ, Таджикистана, Узбекистана, Кыргызстана.
				p.text__white
					|	Новые клиенты могут получить заём на сумму от 15000 до 35000 рублей
					br
					|	Повторные клиенты могут получить до 50000 рублей (с шагом 5000 рублей)
					br
					|	Срок займа: от 3 до 12 месяцев Дата первого погашения должна быть
					br
					|	сроком не ранее 20 и не позже 40 дней от даты выдачи. 
			.package--info
				section.package--info__section
					article.text__white
						.circle 7.9%
						| ставка
					article.text__white
						.circle 35 000
						| сумма
					article.text__white
						.circle 12 мес
						| погашение
				.btn__red.btn__red__invert Оформить