section#top.top
	//img(src="img/top.jpg")
	.content
		.rates
			.rates--item
				h3.rates--item--header Индивидуальный
				p.rates--item--about
					| Количество заемщиков 1 человек
					| для граждан Таджикистана, Узбекистана,
					| Кыргызстана, Российской Федерации
				p.rates--item--num Ставка 
					span 7.9%
				p.rates--item--num Сумма займа 
					span 30000 р.
				.btn__red Смотреть

			.rates--item
				h3.rates--item--header Индивидуальный
				p.rates--item--about
					| Количество заемщиков 1 человек
					| для граждан Таджикистана, Узбекистана,
					| Кыргызстана, Российской Федерации
				p.rates--item--num Ставка 
					span 7.9%
				p.rates--item--num Сумма займа 
					span 30000 р.
				.btn__red Смотреть