@import '../variables.styl'

header
	position fixed
	left 0
	top 0
	width 100%
	background: url('../img/texture.png') center repeat
	background-color: rgba(255,255,255, .65)
	min-height 136px
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.14)
	display flex
	align-items center
	z-index 101
	transition animation
	&.fix
		background-color: #fff
	
nav
	display flex
	align-items flex-end
	
.logo
	position relative
	width 180px
	flex-shrink 0
	&__text
		color: #a0142d
		font-size: 27px
		font-weight: 400
		position: absolute
		width: 6.5em
		top: 0
		right: -9em

		
.menu
	height 34px
	background: #fff
	border-radius 5px
	flex-grow 1
	margin 0 20px
	justify-content space-around
	&--item
		font-size: 18px
		transition animation
		&:hover
			color: red
		&__lang
			color: red
			&::before
				content ''
				margin-right 5px
				width 20px
				height 13px
				display inline-block
				background: url('../img/rus.png')
	
.phone
	color: red
	font-size: 30px
	font-weight: 400
	line-height 0
	&__for-free
		color: #424242
		font-size: 14px
		font-weight: 400
		line-height 0
		
